* {
    margin: 0;
    padding: 0;
}

html, body {
    font-size: 18px;
    overflow: hidden;
    height: 100%;
}

textarea {
    font-size: 1.5em;
    line-height: 1.5em;
    color: #333;
    width: calc(100% - 10em);
    height: calc(100% - 4em);
    padding: 2em 5em;
}

textarea[disabled="disabled"] {
    color: #aaa;
}

a {
    text-align:center;
    display:block;
    width: 100px;
    top: 100px;
    margin-top: 100px;
    margin-left: 100px;
    align-content: center;
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
    padding: 6px 12px;
    border: 1px solid transparent;
    border-radius: 4px;
}